<h1 class="text-center text-2xl font-semibold text-dark"></h1>
Liste des membres
<form class="mt-8" [formGroup]="usersList">
  <div class="mx-auto max-w-xl">
    <div class="py-2">
      <label class="label flex" for="user">e-mail</label>
      <input class="input" type="mail" id="user" formControlName="user" />
    </div>
    <button class="button" type="submit">Ajouter</button>
  </div>

  <div class="flex bg-light">
    <div>
      <div>
        <h2>Membres</h2>
      </div>
      <div>
        <p>membre 1</p>
        <p>membre 2</p>
      </div>
    </div>
    <div>
      <div>
        <h2>Rôles</h2>
      </div>
      <div class="flex">
        <p>leader</p>
        <label for=""></label>
        <input type="radio" />
        <p>membre</p>
        <label for=""></label>
        <input type="radio" />
      </div>
      <div class="flex">
        <p>leader</p>
        <label for=""></label>
        <input type="radio" />
        <p>membre</p>
        <label for=""></label>
        <input type="radio" />
      </div>
    </div>
  </div>
</form>
