<div class="absolute top-[10%] left-[30%] border-2 border-dark w-[40%] h-[80%] bg-light">
    <p class="flex justify-center font-titleFont text-xl mt-4 mb-6 font-bold bg-primary py-3">
        Ajouter un nouveau budget
    </p>
    <form [formGroup]="createBudgetForm" class="font-textFont">
        <div>
            <label for="compte" class="label">Compte</label>
            <select class="select" id="compte">
                <option>New Mexico</option>
                <option>Missouri</option>
                <option>Texas</option>
            </select>
        </div>
    </form>
</div>



