<div
  class="absolute top-[20%] left-[30%] border-2 border-dark w-[40%] bg-light pb-7 rounded-xl"
>
  <p
    class="flex justify-center font-titleFont text-xl my-10 font-bold bg-primary py-3"
  >
    @if (createNew) { Ajouter } @else { Modifier } un compte
  </p>
  <form [formGroup]="createForm" class="font-textFont">
    <div class="inputline">
      <label for="name" class="label">Nom</label>
      <input type="text" name="name" id="name" />
    </div>
    <div class="inputline">
      <label for="description">Description</label>
      <textarea name="description" id="description" rows="3"></textarea>
    </div>

    <div class="mt-10 w-[100%] flex">
      <div class="w-[50%] flex justify-center">
        <button
          class="bg-danger px-10 py-3 rounded-xl font-bold text-lg text-light hover:bg-dangerhover"
          (click)="closeModal()"
        >
          Fermer
        </button>
      </div>
      <div class="w-[50%] flex justify-center">
        <button
          class="bg-success px-10 py-3 rounded-xl font-bold text-lg text-light hover:bg-successhover"
          (click)="submitForm()"
        >
          @if (createNew) { Ajouter } @else { Modifier }
        </button>
      </div>
    </div>
  </form>
</div>
