<div class="w-full flex static h-full">
    <!-- <app-form-new-budget></app-form-new-budget> -->
    <div class="side border-r-4 border-r-secondary">
        <div class="flex justify-between items-center">
            <p class="title">
                Mon compte
            </p>
            <button type="button" class="btnAdd">
                Nouvelle transaction
            </button>
        </div>
        <cdk-accordion>
            @for (account of accounts; track account.id; let index = $index) {
                <cdk-accordion-item
                    #accordionItem="cdkAccordionItem"
                    role="button"
                    tabindex="0"
                    [attr.id]="'accordion-header-' + index"
                    [attr.aria-expanded]="accordionItem.expanded"
                    [attr.aria-controls]="'accordion-body-' + index"
                >
                    <div (click)="accordionItem.toggle()">
                        <app-budget-structure 
                            [description]="account.description"
                            [total]="totalAccount[index]"
                        />
                    </div>
                    <div
                        role="region"
                        [style.display]="accordionItem.expanded ? '' : 'none'"
                        [attr.id]="'accordion-body-' + index"
                        [attr.aria-labelledby]="'accordion-header-' + index"
                    >
                        @for (transaction of transactionsAccount[index]; track transaction.id) {
                            <app-transaction 
                                [dateTransaction]="transaction.date"
                                [description]="transaction.title"
                                [amount]="transaction.amount"
                            />
                        }
                    </div>
                </cdk-accordion-item>
            }
        </cdk-accordion>
    </div>

    <div class="side">
        <div class="flex justify-between items-center">
            <p class="title">
                Mon budget
            </p>
            <button type="button" class="btnAdd">
                Nouveau budget
            </button>
        </div>
        <div>
            <cdk-accordion>
                @for (budget of budgets; track budget.id; let index = $index) {
                    <cdk-accordion-item
                        #accordionItem="cdkAccordionItem"
                        role="button"
                        tabindex="0"
                        [attr.id]="'accordion-header-' + index"
                        [attr.aria-expanded]="accordionItem.expanded"
                        [attr.aria-controls]="'accordion-body-' + index"
                    >
                        <div (click)="accordionItem.toggle()">
                            <app-budget-structure 
                                [description]="budget.description"
                                [total]="totalBudget[index]"
                            />
                        </div>
                        <div
                            role="region"
                            [style.display]="accordionItem.expanded ? '' : 'none'"
                            [attr.id]="'accordion-body-' + index"
                            [attr.aria-labelledby]="'accordion-header-' + index"
                        >
                            @for (transaction of transactionsBudget[index]; track transaction.id) {
                                <app-transaction 
                                    [dateTransaction]="transaction.date"
                                    [description]="transaction.title"
                                    [amount]="transaction.amount"
                                />
                            }
                        </div>
                    </cdk-accordion-item>
                }
            </cdk-accordion>
        </div>
    </div>
</div>
<div class="absolute text-2xl w-full flex justify-center items-end">
    @for (member of membersGroup; track member.id) {
        <button type="button" class="btnMember" (click)="showBudgetOfMemberSelected(member.id)">
            {{ member.firstName }}
        </button>
    }
</div>