<div class="z-10">
    <div
      class="w-[100vw] h-[100vh] bg-[black] bg-opacity-20 fixed top-0 left-0"
      *ngIf="showModal !== ''"
      (click)="closeModal()"
      tabindex="-1"
    ></div>
    <app-form-transaction
      *ngIf="showModal === 'transaction'"
      [createNew]="createNew"
      [accounts]="accounts"
      [budgets]="budgets"
      [transactionToUpdate]="transactionToUpdate"
      (close)="closeModal()"
    ></app-form-transaction>
    <app-form-account
      *ngIf="showModal === 'account'"
      [createNew]="createNew"
      [accountToUpdate]="accountToUpdate"
      (close)="closeModal()"
    ></app-form-account>
    <app-form-budget
      *ngIf="showModal === 'budget'"
      [createNew]="createNew"
      [budgetToUpdate]="budgetToUpdate"
      (close)="closeModal()"
    ></app-form-budget>
  </div>
  
  <div class="flex justify-center mt-5">
    <button class="btnAdd" (click)="modalNew('transaction')">
      Nouvelle transaction
    </button>
  </div>
  <div class="flex justify-between px-32">
    <div class="flex items-center mb-5">
      <p class="title">Mes comptes</p>
      <button type="button" class="btnAddRound" (click)="modalNew('account')">
        +
      </button>
    </div>
    <div class="flex items-center mb-5">
      <button type="button" class="btnAddRound" (click)="modalNew('budget')">
        +
      </button>
      <p class="title">Mes budgets</p>
    </div>
  </div>
  
  <div class="w-full flex static">
    <div class="side border-r-4 border-r-secondary">
      <cdk-accordion>
        @for (account of accounts; track account.id; let index = $index) {
        <cdk-accordion-item
          #accordionItem="cdkAccordionItem"
          role="button"
          tabindex="0"
          [attr.id]="'accordion-header-' + index"
          [attr.aria-expanded]="accordionItem.expanded"
          [attr.aria-controls]="'accordion-body-' + index"
        >
          <div (click)="accordionItem.toggle()">
            <app-budget-structure
              [type]="setType('account')"
              [id]="account.id"
              [description]="account.title"
              [total]="totalAccount[index]"
              (modal)="modalUpdate($event)"
            />
          </div>
          <div
            class="accordion"
            role="region"
            [style.display]="accordionItem.expanded ? '' : 'none'"
            [attr.id]="'accordion-body-' + index"
            [attr.aria-labelledby]="'accordion-header-' + index"
          >
            @for (transaction of transactionsAccount[index]; track
            transaction.id;) {
            <app-transaction
              [id]="transaction.id"
              [dateTransaction]="transaction.date"
              [description]="transaction.title"
              [amount]="transaction.amount"
              (modal)="modalUpdate($event)"
            />
            }
          </div>
        </cdk-accordion-item>
        }
      </cdk-accordion>
    </div>
  
    <div class="side">
      <div>
        <cdk-accordion>
          @for (budget of budgets; track budget.id; let index = $index) {
          <cdk-accordion-item
            #accordionItem="cdkAccordionItem"
            role="button"
            tabindex="0"
            [attr.id]="'accordion-header-' + index"
            [attr.aria-expanded]="accordionItem.expanded"
            [attr.aria-controls]="'accordion-body-' + index"
          >
            <div (click)="accordionItem.toggle()">
              <app-budget-structure
                [type]="setType('budget')"
                [id]="budget.id"
                [description]="budget.title"
                [total]="totalBudget[index]"
                (modal)="modalUpdate($event)"
              />
            </div>
            <div
              class="accordion"
              role="region"
              [style.display]="accordionItem.expanded ? '' : 'none'"
              [attr.id]="'accordion-body-' + index"
              [attr.aria-labelledby]="'accordion-header-' + index"
            >
              @for (transaction of transactionsBudget[index]; track
              transaction.id) {
              <app-transaction
                [id]="transaction.id"
                [dateTransaction]="transaction.date"
                [description]="transaction.title"
                [amount]="transaction.amount"
                (modal)="modalUpdate($event)"
              />
              }
            </div>
          </cdk-accordion-item>
          }
        </cdk-accordion>
      </div>
    </div>
  </div>
<div class="absolute text-2xl w-full flex justify-center -bottom-0">
    @for (member of membersGroup; track member.id; let index = $index) {
        <button [class]="status[index] ? 'btnMemberSelected' : 'btnMember'" (click)="showBudgetOfMemberSelected(member.id, index)">
            {{ member.firstName }}
        </button>
    }
    <!-- <button type="button" class="btnMember" (click)="showBudgetOfAllMembers()">
        +
    </button> -->
</div>