<div class="w-full flex">
    <div class="side border-r-4 border-r-secondary">
        <p class="title">
            Mon compte
        </p>
        <div class="budgetTransaction">
            <button type="button" class="btnAdd" (click)="showFormTransaction()">
                Nouvelle transaction
            </button>
            <p class="flex items-center mr-4 font-textFont text-2xl">
                € {{ totalCompte.toFixed(2) }}
            </p>
        </div>
        <div>
            <app-transaction />
        </div>
    </div>
    <div class="side">
        <div class="flex justify-between items-center">
            <p class="title">
                Mon budget
            </p>
            <button type="button" class="btnAdd -mt-10">
                Nouveau budget
            </button>
        </div>
        <div>
            <app-budget-structure />
        </div>
    </div>
</div>