<div class="flex items-center justify-center w-full h-[90vh]">
  <div class="h-[500px] w-[1100px]">
    <h1 class="text-center font-titleFont text-5xl pb-12">A propos</h1>
    <div class="flex w-3/4 m-auto">
      <div id="logo" class="flex w-full justify-center items-center">
        <img class="w-full" src="./assets/images/logo.png" alt="logo" />
      </div>
      <div>
        <p class="font-textFont text-base p-5 text-justify">
          Dans le cadre de la formation "Développeur JavaScript Backend", nous
          avons eu un projet à réaliser à la fin des six mois pour mettre en
          pratique tous nos acquis. Nous avons eu l'idée de créer une
          application web qui aidera autant les parents que les enfants à avoir
          un œil sur leur budget. Pour mener à bien le projet et dans les
          meilleures conditions possibles, nous avons utilisé la méthodologie
          SCRUM.
        </p>
      </div>
    </div>
    <div class="h-8 relative">
      <img
        src="./assets/images/cochon.png"
        alt="cochon"
        width="120px"
        class="absolute right-1/3 top-[-16px]"
      />
    </div>
    <div class="flex w-3/4 pb-8 m-auto">
      <div class="w-2/4 mr-10 p-4 shadow-secondary shadow-2xl bg-light -mt-5">
        <h3 class="pb-3 font-titleFont text-base">
          Voici les membres de l'équipe
        </h3>
        <div class="flex">
          <div class="w-3/5 font-textFont text-xs">
            <ul>
              <li>Le Product Owner</li>
              <li>La Scrum Master</li>
              <li>Les Développeurs</li>
            </ul>
          </div>
          <div class="w-2/5 font-textFont text-xs">
            <ul>
              <li>Maxime</li>
              <li>Audrey</li>
              <li>Adrien - Bruno</li>
              <li>Denis - Redha</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="font-textFont text-base pt-20">
        <p>
          Nous espérons que l'application correspondra à vos attentes et vous
          aidera à avoir le visu nécessaire sur vos budgets et vos comptes.
        </p>
      </div>
    </div>
  </div>
</div>
