<div class="flex justify-center w-full h-[90vh] colorBg">
  <div class="h-[600px] w-[1100px] mt-8">
    <h1 class="text-center font-titleFont text-5xl pb-8">A propos</h1>
    <div class="flex w-full m-auto">
      <div id="logo" class="flex w-full justify-center items-center">
        <img class="w-full" src="./assets/images/logo.png" alt="logo" />
      </div>
      <div>
        <p class="font-textFont text-base p-5 text-justify">
          Dans le cadre de notre formation "Développeur JavaScript Backend",
          nous avons décidé de créer une application web dédiée à la gestion
          budgétaire, destinée autant aux familles qu'aux colocataires. L'idée
          de cette application est née de notre volonté de répondre à un besoin
          réel dans la vie quotidienne des familles et des collectivités. Nous
          avons constaté qu'il était parfois difficile pour les parents de
          suivre et de gérer efficacement leurs finances tout en enseignant à
          leurs enfants les rudiments de la gestion financière. C'est ainsi que
          nous avons décidé de concevoir une solution innovante qui facilite la
          gestion du budget tout en offrant une opportunité d'apprentissage aux
          enfants.
        </p>
      </div>
    </div>

    <div class="flex w-full pb-8 m-auto">
      <div
        class="w-1/3 mr-10 p-4 shadow-secondary shadow-2xl bg-light h-[180px]"
      >
        <h3 class="pb-3 font-titleFont text-base">
          Voici les membres de l'équipe
        </h3>
        <div class="flex">
          <div class="w-2/5 font-textFont text-sm">
            <ul>
              <li>Le Product Owner</li>
              <li>La Scrum Master</li>
              <li>Les Développeurs</li>
            </ul>
          </div>
          <div class="w-2/5 font-textFont text-sm">
            <ul>
              <li>Maxime</li>
              <li>Audrey</li>
              <li>Adrien - Bruno</li>
              <li>Denis - Redha</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="w-2/3 font-textFont text-base text-justify">
        <p>
          Pour mener à bien ce projet ambitieux et garantir son succès, nous
          avons opté pour l'approche agile de la méthodologie SCRUM. En divisant
          le projet en itérations courtes et en mettant l'accent sur la
          collaboration, la communication et l'adaptabilité, nous avons pu créer
          une application web robuste et conviviale qui répond aux besoins
          spécifiques de nos utilisateurs. Chaque étape du développement a été
          soigneusement planifiée et exécutée, permettant ainsi une progression
          constante et une adaptation aux éventuels changements de besoins ou de
          priorités. Grâce à cela, nous avons pu livrer une application de
          qualité dans les délais impartis, tout en maintenant un niveau élevé
          de satisfaction client.
        </p>
      </div>
    </div>
    <div class="flex justify-between w-full">
      <p class="font-textFont text-base text-justify">
        Nous avons intégré des fonctionnalités telles que l’inscription, la
        connexion, la visualisation claire des données financières ainsi que
        leurs changements afin de rendre l'application accessible et facile à
        utiliser pour tous les membres du groupe. Cette expérience nous a non
        seulement permis d'acquérir de nouvelles compétences techniques, mais
        aussi de développer des qualités essentielles telles que la
        collaboration, la communication et la gestion efficace du temps et des
        ressources. En conclusion, notre application web de gestion budgétaire
        représente bien plus qu'un simple projet de formation; elle incarne
        notre détermination à créer des aides visant à améliorer la vie
        quotidienne des gens. Nous espérons que notre application correspondra à
        vos attentes et vous aidera à avoir le visu nécessaire sur vos budgets
        et vos comptes.
      </p>
      <div class="w-2/3 p-6">
        <img
          src="./assets/images/cochon.png"
          alt="cochon"
          width="200px"
          class="right-1/3 top-[-16px] opacity-40"
        />
      </div>
    </div>
  </div>
</div>
