<div>
  <h1 class="text-center font-titleFont text-5xl py-4">Contact</h1>
</div>

<div class="flex w-3/4 bg-warning m-auto">
  <div class="w-1/2">
    <div class="flex">
      <img
        src="./assets/images/icone-position.png"
        width="50px"
        alt="icone-position"
      />
      <p>
        Rue du Progrès 24
        <br />
        7503 TOURNAI
      </p>
    </div>
    <div class="flex">
      <img
        src="./assets/images/icone-telephone.png"
        width="50px"
        alt="icone-position"
      />
      <p>+32 12 34 56 78</p>
    </div>
    <div class="flex">
      <img
        src="./assets/images/icone-mail.png"
        width="50px"
        alt="icone-position"
      />
      <p>{{ email }}</p>
    </div>
  </div>
  <div class="bg-success w-1/2">
    <div>
      <p>
        Nous restons à votre disposition pour toute question ou problème avec
        notre application internet
      </p>
    </div>
  </div>
</div>
