<div class="flex justify-center w-full h-[90vh]">
  <div class="h-[600px] w-[1100px] mt-8">
    <div>
      <h1 class="text-center font-titleFont text-5xl pb-12">Contact</h1>
    </div>

    <div class="flex w-3/4 m-auto py-8">
      <div class="w-1/2 flex justify-center font-textFont text-base">
        <div>
          <p class="flex pb-5">
            <img
              src="./assets/images/icone-position.png"
              width="50px"
              alt="icone-position"
              class="mr-5"
            />Rue du Progrès 24
            <br />
            7503 TOURNAI
          </p>
          <p class="flex pb-5 items-center">
            <img
              src="./assets/images/icone-telephone.png"
              width="50px"
              alt="icone-telephone"
              class="mr-5"
            />+32 12 34 56 78
          </p>
          <p class="flex items-center">
            <img
              src="./assets/images/icone-mail.png"
              width="50px"
              alt="icone-mail"
              class="mr-5"
            />{{ email }}
          </p>
        </div>
      </div>
      <div class="w-1/2 flex">
        <div
          class="w-1/2 m-auto shadow-secondary shadow-2xl bg-light p-5 font-textFont text-base"
        >
          <p>
            Nous restons à votre disposition pour toute question ou problème
            avec notre application internet
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
