<div id="navbar" class="flex justify-between px-5 py-2 bg-slate-300">
  <div id="logo">
    <a routerLink="/home">
      <img src="./assets/images/logo.png" alt="logo" class="w-28" />
    </a>
  </div>
  <nav>
    <ul class="flex py-5">
      <li class="cursor-pointer" routerLink="/about"><p>A propos</p></li>
      <li class="px-8 cursor-pointer" routerLink="/contact"><p>Contact</p></li>
      <li [hidden]="!isRegistered || isConnected" (click)="switchConnection()">
        <p>S'inscrire</p>
      </li>
      <li
        class="cursor-pointer"
        [hidden]="isRegistered || isConnected"
        (click)="switchConnection()"
      >
        <p>Se Connecter</p>
      </li>
      <li
        class="cursor-pointer"
        [hidden]="!isConnected"
        routerLink="/parameters"
      >
        <p>Mon Compte</p>
      </li>
    </ul>
  </nav>
</div>
