<div id="navbar" class="flex justify-between px-5 bg-secondary">
  <div id="logo">
    <a routerLink="/budget" routerLinkActive="active">
      <img src="./assets/images/logo.png" alt="logo" class="w-[15%]" />
    </a>
  </div>
  <nav class="px-4 flex items-center w-[35%]">
    <ul class="flex justify-around w-full">
      <li>
        <a routerLink="/a-propos" routerLinkActive="active" class="onglet"
          >A propos</a
        >
      </li>
      <li>
        <a routerLink="/contact" routerLinkActive="active" class="onglet"
          >Contact</a
        >
      </li>
      <li><a class="onglet hover:cursor-pointer">S'inscrire</a></li>
    </ul>
  </nav>
</div>
<router-outlet />
