<h1 class="text-center text-2xl font-semibold text-dark">Membres du foyer</h1>
<div class="mt-8" [hidden]="hideAloneMessage">
  Vous êtes actuellement le seul membre de votre foyer
</div>
<div class="mt-8 mx-auto max-w-xl">
  <ul>
    @for (user of groupUserList; track user.id) {
    <li class="flex justify-around mb-4 items-center">
      {{ user.lastName }} {{ user.firstName }}
      <button class="button" type="button" (click)="updateUserRole(user)">
        Changer en {{ getOppositeRole(user.role!) }}
      </button>
    </li>
    }
  </ul>
</div>
