<h1 class="text-center font-titleFont text-xl font-bold">
  Création d'un groupe
</h1>

<div class="py-5 mb-5 flex">
  <div class="w-[28%] m-auto py-5 bg-light shadow-lg">
    <form class="change-mdp w-[75%] m-auto font-textFont text-sm">
      <div class="pt-5 pb-2 flex justify-center">
        <label class="px-3" for="name">Nom du groupe</label>
        <input class="inputText mr-3" type="text" id="name" name="name" />
      </div>

      <div class="flex justify-end">
        <button class="btnSubmit mr-3" type="submit">Valider</button>
      </div>
    </form>
  </div>
</div>
