main {
    display: flex;
}

section {
    width: 50%;
    height: max-content;
    padding: 60px 120px 60px 120px;
}

h1 {
    color: #45a049;
    font-size: xx-large;
    margin-bottom: 48px;
  }
  
  p {
    color: #555;
    margin-bottom: 48px;
  }