<div class="flex mt-[6%]">
  <div class="w-1/2 py-4 mx-6">
    <div class="mt-8 mx-auto max-w-3xl">
      <h1 class="text-5xl font-semibold text-dark">Bienvenue sur Economix</h1>
      <h2 class="text-2xl font-semibold text-dark">
        Votre compagnon de gestion financière
      </h2>
    </div>
    <div class="mt-8 mx-auto max-w-3xl text-justify">
      <p>
        EconomiX est l’application web idéale pour simplifier la gestion de
        votre budget avec votre famille ou vos colocataires. Elle vous permettra
        de suivre vos dépenses, épargner pour vos futurs projets et atteindre
        vos objectifs financiers.
      </p>
      <br />
      <p>Notre application possède différentes fonctionnalités telles que:</p>
      <ul class="mx-3 my-3 text-justify">
        <li>
          - avoir un aperçu individuel et général du budget des membres d’une
          famille ou d’une collocation;
        </li>
        <li>
          - gérer les dépenses ou économiser pour d’éventuels achats (voyages,
          sorties, voiture, …);
        </li>
        <li>- assurer une sécurité financière;</li>
        <li>
          - apprendre aux enfants à gérer leur propre budget tout en gardant un
          œil dessus.
        </li>
      </ul>
    </div>
  </div>
  <div class="w-1/2 py-4">
    <app-login *ngIf="showLogin" />
    <app-register *ngIf="!showLogin" />
  </div>
</div>