<!-- <app-navbar /> -->
<main>
  <section>
    <h1>A propos</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam nam aut
      nesciunt libero mollitia iste laborum error atque, rem repellendus!
    </p>
  </section>

  <section>
    <h1>Connexion</h1>
    <form id="loginForm" method="post">
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email" required />

      <label for="password">Mot de passe:</label>
      <input type="password" id="password" name="password" required />

      <button type="submit">Se connecter</button>
    </form>
  </section>
</main>
<!-- <app-footer /> -->
