@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "titleFont";
    src: url(./assets/fonts/Aurora.otf);
}
@font-face {
    font-family: "textFont";
    src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}
