<div
  class="absolute top-[17.5%] left-[25%] w-[50%] border-2 border-dark bg-[white] pb-7 rounded-2xl"
>
  <p
    class="flex justify-center font-titleFont text-xl mb-10 font-bold bg-secondary py-7 rounded-t-xl"
  >
    @if (createNew) { Ajouter } @else { Modifier } un transaction
  </p>
  <form
    [formGroup]="transactionFrom"
    (ngSubmit)="onSubmit()"
    class="font-textFont"
  >
    <div class="inputline">
      <label class="label" for="account">Compte</label>
      <select formControlName="account" id="account">
        @for (account of accounts; track $index) {
        <option title="{{ account.description }}" value="{{ account.title }}">
          {{ account.title }}
        </option>
        }
      </select>
    </div>
    <div class="inputline">
      <label class="label" for="budget">Budget</label>
      <select formControlName="budget" id="budget">
        <option value="" selected>
          <span class="italic text-sm">-</span>
        </option>
        @for (budget of budgets; track $index) {
        <option title="{{ budget.description }}" value="{{ budget.title }}">
          {{ budget.title }}
        </option>
        }
      </select>
    </div>
    <div class="inputline">
      <label class="label" for="title">Titre *</label>
      <input type="text" formControlName="title" id="title" required />
    </div>

    <div class="inputline">
      <label class="label" for="amount">Montant *</label>
      <input type="number" formControlName="amount" id="amount" required />
    </div>
    <div class="flex justify-center mt-2 ml-10 mr-5">
      <span class="label"></span>
      <div class="flex items-center">
        <input
          id="spend"
          type="radio"
          value="spend"
          formControlName="category"
          class="w-4 h-4 mx-2"
          checked
        />
        <label for="spend">Dépensé</label>
      </div>
      <div class="flex items-center">
        <input
          id="received"
          type="radio"
          value="received"
          name="category"
          class="w-4 h-4 mx-2"
        />
        <label for="received">Reçu</label>
      </div>
      <div class="flex items-center">
        <input
          id="refill"
          type="radio"
          value="refill"
          name="category"
          class="w-4 h-4 mx-2"
        />
        <label for="refill">Réapprovisionné</label>
      </div>
    </div>

    <div class="mt-10 w-[100%] flex">
      <div class="w-[50%] flex justify-center">
        <button
          class="text-[gray] underline px-10 py-3 rounded-xl text-sm border-2 border-light hover:border-dark"
          (click)="closeModal()"
        >
          Annuler
        </button>
      </div>
      <div class="w-[50%] flex justify-center">
        <button
          type="submit"
          class="px-10 py-3 rounded-xl font-semibold text-lg text-[white] shadow-2xl bg-primary hover:bg-dark"
        >
          @if (createNew) { Ajouter } @else { Modifier }
        </button>
      </div>
    </div>
  </form>
</div>