<!-- <div class="budgetTransaction">
    <p class="flex items-center font-textFont text-xl px-[2%]">
        {{ titleBudget }}
    </p>
    <p class="flex items-center mr-4 font-textFont text-2xl">
        € {{ totalBudget.toFixed(2) }}
    </p>
</div> -->
<div class="collapse">
    <input type="radio" name="my-accordion-1" checked="checked" /> 
    <div class="collapse-title text-xl">
      Click to open this one and close others
    </div>
    <div class="collapse-content"> 
      <p>hello</p>
    </div>
</div>
<div class="collapse">
    <input type="radio" name="my-accordion-1" /> 
    <div class="collapse-title text-xl">
      Click to open this one and close others
    </div>
    <div class="collapse-content"> 
      <p>hello</p>
    </div>
</div>
<div class="collapse">
    <input type="radio" name="my-accordion-1" /> 
    <div class="collapse-title text-xl">
      Click to open this one and close others
    </div>
    <div class="collapse-content"> 
      <p>hello</p>
    </div>
</div>
